.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
  background-color: aliceblue;
  padding: 16px 48px;
}
a {
  font-size: large;
  margin-right: 16px;
  text-decoration: underline;

  &.active {
    font-weight: bold;
    text-decoration: none;
  }
}
